#main-container {
  opacity: 0;
  -webkit-transition: 1.5s ease-in-out;
  transition: 1.5s ease-in-out;
}
body::-webkit-scrollbar {
  width: 0.4rem;
}
body::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
}
body::-webkit-scrollbar-thumb {
  background-color: #1a73e8;
}
body::-webkit-scrollbar-thumb::hover {
  background-color: #dbeafe;
}
body {
  position: relative;
  height: 100%;
}
body {
  margin: 0;
  padding: 0;
}
.swiper {
  width: 100%;
  padding-top: 50px;
  padding-bottom: 50px;
}
.swiper-slide {
  background-position: center;
  background-size: cover;
  width: 250px;
  height: auto;
}
.swiper-slide img {
  width: 100%;
  border: 5px solid black;
  -webkit-box-shadow: inset 0 0 0 20px #000000;
  box-shadow: inset 0 0 0 20px #000000;
  border-radius: 20px;
  border: 8px solid black;
  border-radius: 20px;
  display: block;
  height: auto;
}
body {
  background: #d7e8ff;
}
hr {
  margin-bottom: 0 !important;
  opacity: 0.2;
}
.header-img {
  max-height: 500px;
}
.header-logo span {
  vertical-align: middle;
}
.header-text {
  background: #dbeafe;
  padding: 1.3rem;
  border-radius: 10px;
}
.fw-bold {
  font-weight: 500 !important;
}
.custom-btn {
  background: #1f2937;
  color: white;
  border-radius: 10px;
}
.custom-btn:hover {
  background: rgba(63, 125, 224, 0.5);
  color: #1a73e8;
}
.rounded {
  border-radius: 0.8rem !important;
}
.card-rounded {
  border-radius: 0.5rem !important;
}
.custom-font {
  font-size: 2.8rem !important;
}
.custom-card .card-body {
  padding: 0 1.3rem 2rem;
}
.custom-card img {
  background: white;
  position: relative;
  padding: 11px;
  width: 60px;
  border-radius: 50%;
  top: -25px;
  right: -15px;
}
.custom-lead {
  font-size: 0.8rem;
  font-weight: 500;
  color: #6c727c;
}
.social-icons a {
  font-size: 1.5rem;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}
.social-icons a:hover {
  color: #1a73e8 !important;
}
.link {
  font-size: 1rem;
  -webkit-transition: 0.4s;
  transition: 0.4s;
  text-decoration: none;
  color: black;
  display: inline-block;
}
.link:hover {
  color: black;
  background: rgba(63, 125, 224, 0.5);
}
footer {
  background: white;
}
footer .link {
  color: black;
  text-decoration: none;
}
#ham-burger {
  position: relative;
}
.m-nav {
  visibility: hidden;
  z-index: 1021;
  top: 0;
  height: 100vh;
  width: 100%;
  padding-left: 20px;
  padding-right: 20px;
  opacity: 0;
  -webkit-transition: 0.3s ease-in-out;
  transition: 0.3s ease-in-out;
}
.m-link {
  display: inline-block;
  text-decoration: none;
  color: white;
}
.m-link:hover {
  color: white;
}
#bottom-side {
  height: 100vh;
  background: #cce0ff;
}
.x-btn {
  border-radius: 5%;
  color: #f47f7f;
  font-size: 2rem;
}
#loader {
  position: fixed;
  background: #fff url(img/preload.gif) no-repeat center center;
  width: 100%;
  height: 100vh;
  z-index: 1500;
  -webkit-transition: 0.2s ease-in-out;
  transition: 0.2s ease-in-out;
}
@media screen and (max-width: 885px) {
  #menu-bg {
    display: none !important;
  }
  #ham-burger {
    display: inline-block !important;
    position: relative;
    top: 2px;
  }
}
@media screen and (min-width: 886px) {
  #menu-bg {
    display: block !important;
  }
  #ham-burger {
    display: none !important;
  }
}
