$color-primary : rgb(26,115,232);
$color-secondary : rgb(219,234,254);
$color-tertiary : rgba(63, 125, 224, 0.5);
$color-dark : rgb(31,41,55);

html {
    font-family: 'regularp', 'Bangla648', 'sans-serif' !important;
}

// Swipper Js

        body {
            position: relative;
            height: 100%;
        }

        body {
         
            margin: 0;
            padding: 0;
        }

        .swiper {
            width: 100%;
            padding-top: 50px;
            padding-bottom: 50px;
        }

        .swiper-slide {
            background-position: center;
            background-size: cover;
            width: 250px;
            height: auto;
        }

        .swiper-slide img {
            width: 100%;
            border: 5px solid black;
            box-shadow: inset 0px 0px 0px 20px #000000;
            border-radius: 20px;
            border: 8px solid black;
            border-radius: 20px;
            display: block;
            height: auto;

        }
// Swipper Js end

body {
    background: rgb(215,232,255);
}
// .header-container {
//     // margin: 60px;
//     padding: 60px;
//     margin: 30px;
// }


hr {
    margin-bottom: 0px !important;
    opacity: 0.2;
}
.header-img {
    max-height: 500px;
}
.header-logo span{
vertical-align: middle;
}
.header-text {
    background: $color-secondary;
    padding: 1.3rem;
    border-radius: 10px;
}


// Custom Css
.fw-bold {
    font-weight: 500!important;
}

.custom-btn {
    background: $color-dark;
    color: white;
    border-radius: 10px;
 }

 .custom-btn:hover {
    background: $color-tertiary;
    color: $color-primary;
 }
.rounded {
    border-radius: 0.8rem !important;
}

.card-rounded {
    border-radius: 0.5rem !important;
}

.custom-font {
    font-size: 2.8rem !important;
}

.custom-card .card-body {
    padding:0rem 1.3rem 2rem
}

.custom-card img{
background: white;
    position: relative;
    padding: 11px;
    width: 60px;
    border-radius: 50%;
    top: -25px;
    right: -15px;
}

.custom-lead {
    font-size: 0.8rem;
    font-weight: 500;
    color: rgb(108, 114, 124);
}